<!--This page show hotel single page view-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>goBook - Book your room now</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check" />
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logox"><a href="/">goBook</a></label>
      <ul>
        <li><a class="activex" href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a class="signup" href="signup.html">Sign up</a></li>
        <li><a class="login" href="signin.html">Login</a></li>
        <li><a class="reg-hotel" href="signuphotel.html">Register Hotel</a></li>
      </ul>
    </nav>
    <div class="hotel-layout">
      <div class="hotel-hero-img">
        <div class="hero-img">
          <img
            src="static/hotel1.jpeg"
            alt="Flexbox Feature"
            class="hotel-img"
          />
        </div>
      </div>
      <div class="hotel-container">
        <div class="main">
          <div class="hotel-details">
            <div class="hotel-info">
              <h1 class="hotel-name">
                <%= hotel.name %>
              </h1>
              <span class="hotel-address"
                >
                <%= hotel.address %>
                </span
              >
            </div>
            <div class="hotel-rating">
              <span class="rating"><i class="fas fa-star"></i> <%= hotel.rating %> </span>
            </div>
          </div>
          <div class="hotel-content">
            <h3 class="description">Description</h3>
            <p>
                <%= hotel.name %> is a boutique hotel in <%= hotel.city %>.
              Located at 12 km from Hawa Mahal and 20 km from Amber Palace, this
              hotel has a parking facility and an in-house restaurant.
            </p>
            <h3 class="amenities-heading">Amenities</h3>
            <div class="amenities">
              <div class="amenities-item">
                <span class="amenities-icon"> svg </span>
                <span class="amenities-name"> wifi </span>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar">
          <div class="hotel-price">
            <span class="price"><%= hotel.price %></span>
          </div>
          <div class="book-now">
            <p>BOOK NOW</p>
          </div>
        </div>
      </div>
    </div>

    <style>
      .hotel-img {
        width: 100%;
      }

      .main {
        width: 68%;
        float: left;
        padding: 20px;
        margin: 10px; /* background: #2b34670f; */
        border: 1px solid #eee;
        border-radius: 6px;
      }

      .hotel-container {
        margin: auto 4%;
      }

      .sidebar {
        float: right;
        width: 28%;
        padding: 20px;
        margin: 10px;
        /* background: #eee; */
        text-align: center;
      }

      h1.hotel-name {
        color: #252525;
        padding: 10px 0px;
        text-align: left;
      }

      span.hotel-address {
        color: #0000007d;
        padding: 10px 5px;
      }

      .hotel-details {
        display: flex;
        margin: 0 0 20px 0;
      }

      .hotel-info {
        /* display: flex; */
      }

      .hotel-rating {
        padding: 10px;
        font-size: 30px;
      }

      p {
      }

      .hotel-content p {
        color: #252525;
        text-align: left;
        padding: 10px;
      }

      .amenities {
        display: flex;
        padding: 5px 10px;
      }

      .hotel-price {
        /* font-size: 26px; */
        /* background: #FF5722; */
      }

      span.price {
        font-size: 26px;
        /* background: #FF5722; */
        border-radius: 20px;
        padding: 10px;
        display: block;
        text-align: left;
        font-weight: 900;
      }

      .book-now {
        padding: 10px;
        border: 1px solid #2b3467;
        background: #ff5722;
        border-radius: 6px;
      }

      .book-now p {
        color: #252525;
        font-weight: 900;
      }

      /* Media Queries */
      /* Mobile Devices - Phones/Tablets */

      @media only screen and (max-width: 720px) {
      }
    </style>
  </body>
</html>